[*.cs]

# IDE0011: 添加大括号
csharp_prefer_braces = false

# IDE0055: 修正格式
dotnet_diagnostic.IDE0055.severity = none

# CS0642: 空语句可能有错误
dotnet_diagnostic.CS0642.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
