*/
*.cs
desktop.ini
!CustomMuzzleFlash/
!CustomMuzzleFlash/**
!0-CustomParticleLoader/
!0-CustomParticleLoader/**
!AnimationRiggingWeaponTest/
!AnimationRiggingWeaponTest/**
!BetterModCompatibility/
!BetterModCompatibility/**
!CustomParticleLoaderBuffArea/
!CustomParticleLoaderBuffArea/**
!CustomParticleLoaderMultiExplosion/
!CustomParticleLoaderMultiExplosion/**
!CustomParticleLoaderSpawnEntity/
!CustomParticleLoaderSpawnEntity/**
!CustomPlayerActionManager/
!CustomPlayerActionManager/**
!FullautoLauncher/
!FullautoLauncher/**
!FullautoLauncherAnimationRiggingCompatibilityPatch/
!FullautoLauncherAnimationRiggingCompatibilityPatch/**
!SMXMultiActionCompatibilityPatch/
!SMXMultiActionCompatibilityPatch/**
!SCoreEntityHitCompatibilityPatch/
!SCoreEntityHitCompatibilityPatch/**
!RandomMainmenuBackground/
!RandomMainmenuBackground/**
!RandomMainmenuBGM/
!RandomMainmenuBGM/**
!0-KFCommonUtilityLib/
!0-KFCommonUtilityLib/**
!MedicPerk/
!MedicPerk/**
!NetConnectionSimpleLockfree/
!NetConnectionSimpleLockfree/**
!ParticleScriptTest/
!ParticleScriptTest/**
!VehicleWeapon/
!VehicleWeapon/**
!VehicleWeapon/VehicleWeaponAttached/**
!VehicleWeaponTest/
!VehicleWeaponTest/**
!ApexDevotion/
!ApexDevotion/**
!M16M203
!M16M203/**
!ZCLSWeaponPackEXP
!ZCLSWeaponPackEXP/**
!ZZCustomPlayerActionManagerSMXPatch/
!ZZCustomPlayerActionManagerSMXPatch/**
!.gitignore
!*/.gitignore
*/.vs/**
.gitattributes
.editorconfig
*.zip
.fake
*.unitypackage
/AnimationRiggingWeaponTest/DemoScene.unitypackage
readme.txt
/0-KFCommonUtilityLib/DynamicFileNesting
*.rar
*.7z