*/
*
!AllowComboKeys/
!AllowComboKeys/**
!CustomMuzzleFlash/
!CustomMuzzleFlash/**
!0-CustomParticleLoader/
!0-CustomParticleLoader/**
!AnimationRiggingWeaponTest/
!AnimationRiggingWeaponTest/**
!BetterModCompatibility/
!BetterModCompatibility/**
!CustomFPVFov/
!CustomFPVFov/**
!CustomParticleLoaderBuffArea/
!CustomParticleLoaderBuffArea/**
!CustomParticleLoaderMultiExplosion/
!CustomParticleLoaderMultiExplosion/**
!CustomParticleLoaderSpawnEntity/
!CustomParticleLoaderSpawnEntity/**
!0-CustomPlayerActionManager/
!0-CustomPlayerActionManager/**
!GearsSettingsSave/
!GearsSettingsSave/**
!GearsSavingPatch/
!GearsSavingPatch/**
!KeepReloading/
!KeepReloading/**
!FPVLegs/
!FPVLegs/**
!FullautoLauncher/
!FullautoLauncher/**
!FullautoLauncherAnimationRiggingCompatibilityPatch/
!FullautoLauncherAnimationRiggingCompatibilityPatch/**
!SMXMultiActionCompatibilityPatch/
!SMXMultiActionCompatibilityPatch/**
!SCoreEntityHitCompatibilityPatch/
!SCoreEntityHitCompatibilityPatch/**
!RandomMainmenuBackground/
!RandomMainmenuBackground/**
!RandomMainmenuBGM/
!RandomMainmenuBGM/**
!0-KFCommonUtilityLib/
!0-KFCommonUtilityLib/**
!MedicPerk/
!MedicPerk/**
!NoHentai/
!NoHentai/**
!ParticleScriptTest/
!ParticleScriptTest/**
!VehicleWeapon/
!VehicleWeapon/**
!VehicleWeapon/VehicleWeaponAttached/**
!VehicleWeaponTest/
!VehicleWeaponTest/**
!ApexDevotion/
!ApexDevotion/**
!M16M203
!M16M203/**
!QuartzUIPatch
!QuartzUIPatch/**
!ZCLSWeaponPackPistol
!ZCLSWeaponPackPistol/**
!ZCLSWeaponPackEXP
!ZCLSWeaponPackEXP/**
!ZCLSWeaponPackSniper
!ZCLSWeaponPackSniper/**
!ZZCustomPlayerActionManagerSMXPatch/
!ZZCustomPlayerActionManagerSMXPatch/**
!MultiBlockLayerFix
!MultiBlockLayerFix/**
!TrueNoRotation
!TrueNoRotation/**
!.gitignore
!*/.gitignore
*/.vs/**
.gitattributes
.editorconfig
*.unitypackage
/AnimationRiggingWeaponTest/DemoScene.unitypackage
readme.txt
/0-KFCommonUtilityLib/DynamicFileNesting